<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello Web App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
  <div id="content">
    <h1>Hello App</h1>
    <table>
      <%- include('module/common', {name: "WEB", data: web_data}); %>

      <%- include('module/common', {name: "REST", data: rest_data}); %>

      <%- include('module/database', {name: "DataBase", data: rest_data.db}); %>
    </table>
  </div>
</body>

</html>