<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Web App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1>Hello Web App</h1>

    <div>
      <span class="key">Version:</span> <span id="version"><%= version %></span><br>
      <span class="key">Hostname:</span> <span id="hostname"><%= hostname %></span><br>
    </div>

  </body>
</html>